textarea{
    resize: none;
    width: 25vw;
    height: auto;
}
/**/
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    flex: 1;
}

button{
    
}

button span{
    
}

button span:after{
    
}

button:hover span{
    
}

button:hover span:after{
    
}

.logout-button{
    width: 100%;
}

.profiles{
    display: flex;
}

.profile-page{
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}